body {
    background-color: beige;
    margin-right: 5%;
    margin-left:5%;
    /*height: 2000px;*/
}

header {
    text-align: center;
}

#navbar {


}

nav > a {
    /*background-color: black;*/
    /*color: white;*/
    text-decoration: none;
}

main {

}

h2 {
    text-align: center;
}

.about-me {
    position: relative;
    /*background-color: orange;*/
    /*margin-left: 40%;*/
    width: 100%;
    height: 100%;
}

img {
    height: 200px;
    width: 200px;
}

.education {
    /*background-color: indianred;*/
}

section.education {
    position: relative;
    text-align: left;
}

.date {
    float: right;
}

.specialization {
    float: right;
}

.skills {
    /*background-color: deepskyblue;*/
    text-align: left;
    /*font-weight: normal;*/
}

.skills li {
    list-style-type: none;
}

.category {
    font-weight: bold;
}

.experience {
    /*background-color: greenyellow;*/
}

section.experience {
    position: relative;
}

.experience ul.a {
    list-style-type: none;
    margin-left: -5%;
    font-weight: bold;
}

.experience ul.b {
    font-weight: normal;
}

.project {
    /*background-color: plum;*/
}

section.project {
    position: relative;
}

.project ul.a {
    list-style-type: none;
    margin-left: -5%;
    font-weight: bold;
}

.project ul.b {
    font-weight: normal;
}

footer {
    background-color: black;
    color: white;
    margin: auto;
}

footer > div {
    padding: 20px 0 20px 0;
    text-align: center;
}