body {
    background-color: beige;
    margin-right: 5%;
    margin-left:5%;
    height: 2000px;
}

header {
    text-align: center;
}

#navbar {


}

nav > a {
    background-color: black;
    color: white;
    text-decoration: none;
}

main {

}

h2 {
    text-align: center;
}

.about-me {
    position: relative;
    background-color: orange;
    /*margin-left: 40%;*/
    width: 100%;
    height: 100%;
}

img {
    height: 100px;
    width: 100px;
}

.education {
    background-color: indianred;
}
section.education {
    position: relative;
    text-align: left;
}

.date {
    float: right;
}

.skills {
    background-color: deepskyblue;
    text-align: center;
}

.experience {
    background-color: greenyellow;
}
section.experience {
    position: relative;
}

ul.a, ul.b {
    list-style-type: none;
}

.project {
    background-color: plum;
}

section.project {
    position: relative;
}

footer {
    background-color: black;
    color: white;
    margin: auto;
}

footer > div {
    padding: 20px 0 20px 0;
    text-align: center;
}